layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="hx" {
        pane command="hx"
    }
    tab name="strider" {
        pane split_direction="vertical" {
            pane size="60%"
            pane size="40%" {
                plugin location="strider"
            }
        }
    }
}
