#![enable(implicit_some)]
(
    default_height: 300,
    default_width: 400,
    disable_current_tag_swap: true,
    disable_tile_drag: true,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    insert_behavior: Bottom,
    scratchpad: [],
    sloppy_mouse_follows_focus: false,
    state_path: None,
    keybind: [
        (command: Execute, value: "$HOME/.local/bin/rlaunch-wrapper", modifier: ["modkey"], key: "r"),
        (command: Execute, value: "$HOME/.local/bin/screenshot", modifier: [], key: "Print"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        (command: Execute, value: "loginctl kill-session $XDG_SESSION_ID", modifier: ["Control", "Alt"], key: "End"),

        (command: SoftReload, value: "", modifier: ["modkey", "Control"], key: "r"),

        (command: FocusNextTag, value: "ignore_empty", modifier: ["modkey"], key: "Down"),
        (command: FocusPreviousTag, value: "ignore_empty", modifier: ["modkey"], key: "Up"),
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),

        (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
        (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
        (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
        (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
        (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),

        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Right"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Left"),

        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "Left"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "Right"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: MoveWindowTop, value: "", modifier: ["modkey", "Shift"], key: "Return"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: ToggleFullScreen, value: "", modifier: ["modkey", "Shift"], key: "f"),
        (command: ToggleFloating, value: "", modifier: ["modkey", "Shift"], key: "t"),
        (command: ToggleSticky, value: "", modifier: ["modkey", "Shift"], key: "s"),
    ],
    layout_mode: Tag,
    layouts: [
        "MainAndVertStack",
        "MainAndHorizontalStack",
        "Monocle",
    ],
    modkey: "Mod4",
    mousekey: "Mod4",
    tags: ["terminal", "work", "relaxed", "music"],
    window_rules: [
        (window_class: ".syncplay-wrapped", spawn_floating: true, spawn_on_tag: 3),
        (window_class: "Alacritty", spawn_on_tag: 1),
        (window_class: "sublime_text", spawn_on_tag: 2),
        (window_class: "telegram-desktop", spawn_on_tag: 3),
    ],
    workspaces: [],
)
